[submodule "thirdparty/SingleApplication"]
	path = thirdparty/SingleApplication
	url = https://github.com/itay-grudev/SingleApplication.git
[submodule "thirdparty/zint"]
	path = thirdparty/zint
	url = https://github.com/zint/zint.git
[submodule "thirdparty/libipriv"]
	path = thirdparty/libipriv
	url = https://github.com/Ilkhom-S/libipriv.git
